{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {% set nid = row.content['#row']._entity.field_team.target_id %}
  {% set team_1 = drupal_field('field_team_1_code_name', 'node', nid).0['#markup'] %}
  {% set team_2 = drupal_field('field_team_2_code_name', 'node', nid).0['#markup'] %}

  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
    {# {{dump(row.content)}} #}
    <div class="cricket-logo">
      <img src="themes/custom/custom_theme/images/icc-logo.svg" alt="icc-logo">
    </div>
    {% if team_1 == 'IND' or team_2 == 'IND' %}
      <div class="india-hashtag" id="goindia">
        <p>#GoIndia</p>
      </div>
    {% endif %}
  </div>
{% endfor %}
