@use '../partial_files/importers' as *;

%arrow {
  color: $brand-primary;
  background-color: $bg-color;
  @include padding(10px, 15px);
}

%uppercase {
  text-transform: uppercase;
}

header {
  nav.navbar {
    @include padding(10px, 50px);

    .container-fluid {
      .collapse.navbar-collapse {
        .region.region-nav-additional {
          .navigation {
            @include display(inline-block);
          }

          .block.block-search {
            @include display(inline-block);
          }
        }
      }
    }
  }
}

main {
  .container-fluid {
    .region.region-content {
      @include padding(0, 0);

      .block.block-system.block-system-main-block {
        .views-element-container {
          .cricket.view.view-match.view-display-id-page_1 {
            .view-content.slick-slider {
              position: relative;
              @include margin(0, 0);

              .slick-arrow {
                position: absolute;
                bottom: 50px;
                right: 50px;
              }

              .arrow-left {
                z-index: 1;
                right: 110px;
                @extend %arrow;
              }

              .arrow-right {
                @extend %arrow;
              }

              .slick-list {
                .slick-track {
                  .cricket-match.views-row {
                    position: relative;

                    .views-field.views-field-nothing {
                      .field-content {
                        .match-data {
                          position: relative;

                          &__image {
                            img {
                              filter: brightness(0.5);
                            }
                          }

                          &-info {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 650px;
                            @include padding(50px, 50px);
                            color: $brand-primary;

                            &__title {
                              @extend %uppercase;
                              @include display(inline-block);
                              @include font-size(50px);
                              font-family: $font-regular, sans-serif;
                              letter-spacing: 1px;

                              a {
                                color: $brand-primary;
                              }

                              .node--type-team.node--view-mode-match-team {
                                @include display(inline-block);

                                h2 {
                                  display: none;
                                }

                                .node__content {
                                  .field.field--name-field-team-1-code-name, .field.field--name-field-team-2-code-name {
                                    @include display(inline-block);
                                  }

                                  .field.field--name-field-team-2-code-name {
                                    &::before {
                                      content: 'VS ';
                                    }
                                  }
                                }
                              }
                            }

                            &__time {
                              @extend %uppercase;
                              color: $color-primary;
                              @include font-size(26px);
                              font-family: $font-regular, sans-serif;

                              span {
                                @include margin(0, 10px);
                              }
                            }

                            &__location {
                              @extend %uppercase;
                              @include font-size(30px);
                              font-family: $font-regular, sans-serif;

                              span {
                                &::before {
                                  content: '•';
                                  color: $color-red;
                                  padding-right: 10px;
                                }
                              }
                            }

                            &__desc {
                              font-size: 18px;
                              padding-top: 20px;

                              p {
                                line-height: 1.3;
                              }
                            }
                          }
                        }
                      }
                    }

                    .cricket-logo {
                      position: absolute;
                      top: 50px;
                      left: 50px;

                      img {
                        width: 100px;
                        height: auto;
                        filter: invert(1);
                      }
                    }

                    .india-hashtag {
                      position: absolute;
                      top: 46%;
                      left: 50px;
                      @include padding(7px, 15px);
                      background-color: $color-secondary;
                      border-radius: 25px;

                      p {
                        margin-bottom: 0;
                        color: $brand-primary;
                      }
                    }
                  }
                }
              }

              .slick-dots {
                position: absolute;
                bottom: 50px;
                right: 180px;
                width: auto;

                li {
                  button {
                    padding: 0;

                    &::before {
                      content: '';
                      width: 30px;
                      height: 3px;
                      background-color: $brand-primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.mt-auto {
  margin-top: 0 !important;
}
